Repository appsody/stacks, pull requests merged in 2019-12, with the labels that each got.

#517 java-spring-boot2: Spring Boot2 go templating (based from pr503)
  incubator/java-spring-boot2/image/Dockerfile-stack
  incubator/java-spring-boot2/image/project/Dockerfile
  incubator/java-spring-boot2/image/project/appsody-boot2-pom.xml
  incubator/java-spring-boot2/stack.yaml
  incubator/java-spring-boot2/templates/default/pom.xml
  incubator/java-spring-boot2/templates/kotlin/pom.xml
Labels: stack/java-spring-boot2

#529 java-spring-boot2-liberty: use go templating (supercedes pr 509)
  experimental/java-spring-boot2-liberty/image/Dockerfile-stack
  experimental/java-spring-boot2-liberty/image/project/Dockerfile
  experimental/java-spring-boot2-liberty/image/project/pom.xml
  experimental/java-spring-boot2-liberty/stack.yaml
  experimental/java-spring-boot2-liberty/templates/default/pom.xml
Labels: stack/java-spring-boot2-liberty

#560 nodejs-functions: update node to version 12
  experimental/nodejs-functions/README.md
  experimental/nodejs-functions/image/Dockerfile-stack
  experimental/nodejs-functions/image/project/package.json
  experimental/nodejs-functions/image/project/test/test.js
  experimental/nodejs-functions/stack.yaml
Labels: stack/nodejs-functions
