Repository appsody/stacks, pull requests merged in 2020-05, with the labels that each got.

#792 java-openliberty: add stack image label
  incubator/java-openliberty/image/Dockerfile-stack
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty

#788 java-openliberty: Update Liberty Maven plugin version
  incubator/java-openliberty/README.md
  incubator/java-openliberty/image/Dockerfile-stack
  incubator/java-openliberty/image/project/Dockerfile
  incubator/java-openliberty/image/project/pom.xml
  incubator/java-openliberty/image/project/validate.sh
Labels: stack/java-openliberty

#772 java-openliberty: 693 java-openliberty needs bind mounted pre-existin…
  incubator/java-openliberty/image/Dockerfile-stack
Labels: stack/java-openliberty

#797 java-openliberty: fix missing continuation on echo message
  incubator/java-openliberty/image/project/Dockerfile
Labels: stack/java-openliberty

#775 java-openliberty: Add kafka template
  incubator/java-openliberty/README.md
  incubator/java-openliberty/stack.yaml
  incubator/java-openliberty/templates/kafka/.gitignore
  incubator/java-openliberty/templates/kafka/README.md
  incubator/java-openliberty/templates/kafka/docker-compose.yaml
  incubator/java-openliberty/templates/kafka/pom.xml
  incubator/java-openliberty/templates/kafka/src/main/java/dev/appsody/starter/StarterApplication.java
  incubator/java-openliberty/templates/kafka/src/main/java/dev/appsody/starter/health/StarterLivenessCheck.java
  incubator/java-openliberty/templates/kafka/src/main/java/dev/appsody/starter/health/StarterReadinessCheck.java
  incubator/java-openliberty/templates/kafka/src/main/liberty/config/configDropins/defaults/quick-start-security.xml
  incubator/java-openliberty/templates/kafka/src/main/liberty/config/server.xml
  incubator/java-openliberty/templates/kafka/src/main/resources/META-INF/microprofile-config.properties
  incubator/java-openliberty/templates/kafka/src/main/resources/log4j.properties
  incubator/java-openliberty/templates/kafka/src/test/java/dev/appsody/starter/StarterApplicationTest.java
  incubator/java-openliberty/templates/kafka/src/test/java/it/dev/appsody/starter/HealthEndpointTest.java
Labels: stack/java-openliberty

#798 Fixes #790
  incubator/java-openliberty/image/project/run-stack.sh
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty

#778 Update Quarkus Dockerfile to run as non-root
  incubator/quarkus/image/project/Dockerfile
  incubator/quarkus/image/project/pom.xml
  incubator/quarkus/stack.yaml
Labels: stack/quarkus

#765 quarkus: add `kafka` template.
  incubator/quarkus/README.md
  incubator/quarkus/image/project/pom.xml
  incubator/quarkus/stack.yaml
  incubator/quarkus/templates/kafka/.vscode/tasks.json
  incubator/quarkus/templates/kafka/docker-compose.yaml
  incubator/quarkus/templates/kafka/mvnw
  incubator/quarkus/templates/kafka/mvnw.cmd
  incubator/quarkus/templates/kafka/pom.xml
  incubator/quarkus/templates/kafka/src/main/java/org/acme/kafka/PriceConverter.java
  incubator/quarkus/templates/kafka/src/main/java/org/acme/kafka/PriceGenerator.java
  incubator/quarkus/templates/kafka/src/main/java/org/acme/kafka/PriceResource.java
  incubator/quarkus/templates/kafka/src/main/resources/META-INF/resources/prices.html
  incubator/quarkus/templates/kafka/src/main/resources/application.properties
Labels: stack/quarkus

#779 swift: update to Swift 5.2
  incubator/swift/README.md
  incubator/swift/image/Dockerfile-stack
  incubator/swift/image/project/Dockerfile
  incubator/swift/stack.yaml
Labels: stack/swift

#526 Rust MUSL support
  experimental/rust/README.md
  experimental/rust/image/Dockerfile-stack
  experimental/rust/image/project/Dockerfile
  experimental/rust/stack.yaml
  experimental/rust/templates/simple/.vscode/launch.json
Labels: stack/rust

#802 Update README page for Quarkus
  incubator/quarkus/README.md
Labels: stack/quarkus

#783 quarkus: add smallrye-metrics
  incubator/quarkus/image/project/pom.xml
  incubator/quarkus/stack.yaml
  incubator/quarkus/templates/default/pom.xml
  incubator/quarkus/templates/kafka/pom.xml
Labels: stack/quarkus

#795 java-microprofile: Fix missing continuation after echo
  incubator/java-microprofile/image/project/Dockerfile
  incubator/java-microprofile/stack.yaml
Labels: stack/java-microprofile

#786 nodejs-express: use pino-http directly
  incubator/nodejs-express/README.md
  incubator/nodejs-express/image/project/package-lock.json
  incubator/nodejs-express/image/project/package.json
  incubator/nodejs-express/image/project/server.js
  incubator/nodejs-express/stack.yaml
Labels: stack/nodejs-express

#801 Updated Quarkus templates to match the 1.3.2.Final version of the source Quickstarts
  incubator/quarkus/image/project/pom.xml
  incubator/quarkus/stack.yaml
  incubator/quarkus/templates/default/mvnw
  incubator/quarkus/templates/default/mvnw.cmd
  incubator/quarkus/templates/default/src/main/resources/META-INF/resources/index.html
  incubator/quarkus/templates/kafka/docker-compose.yaml
  incubator/quarkus/templates/kafka/mvnw
  incubator/quarkus/templates/kafka/mvnw.cmd
  incubator/quarkus/templates/kafka/pom.xml
  incubator/quarkus/templates/kafka/src/main/java/org/acme/kafka/PriceConverter.java
  incubator/quarkus/templates/kafka/src/main/java/org/acme/kafka/PriceGenerator.java
  incubator/quarkus/templates/kafka/src/main/java/org/acme/kafka/PriceResource.java
  incubator/quarkus/templates/kafka/src/main/resources/META-INF/resources/prices.html
  incubator/quarkus/templates/kafka/src/main/resources/application.properties
Labels: stack/quarkus
