Repository appsody/stacks, pull requests merged in 2020-04, with the labels that each got.

#707 retract spring boot stack image packages update
  incubator/java-spring-boot2/README.md
  incubator/java-spring-boot2/image/Dockerfile-stack
  incubator/java-spring-boot2/stack.yaml
Labels: stack/java-spring-boot2

#702 [PR TIDY UP] Quarkus: upgrade to use Quarkus 1.3.0.Final
  incubator/quarkus/README.md
  incubator/quarkus/image/.dockerignore
  incubator/quarkus/image/Dockerfile-stack
  incubator/quarkus/image/LICENSE
  incubator/quarkus/image/config/app-deploy.yaml
  incubator/quarkus/image/project/.appsody-init.bat
  incubator/quarkus/image/project/.appsody-init.sh
  incubator/quarkus/image/project/.dockerignore
  incubator/quarkus/image/project/Dockerfile
  incubator/quarkus/image/project/pom.xml
  incubator/quarkus/stack.yaml
  incubator/quarkus/templates/default/.vscode/tasks.json
  incubator/quarkus/templates/default/mvnw
  incubator/quarkus/templates/default/mvnw.cmd
  incubator/quarkus/templates/default/pom.xml
  incubator/quarkus/templates/default/src/main/java/org/acme/quickstart/GreetingResource.java
  incubator/quarkus/templates/default/src/main/java/org/acme/quickstart/GreetingService.java
  incubator/quarkus/templates/default/src/main/resources/META-INF/resources/index.html
  incubator/quarkus/templates/default/src/test/java/org/acme/quickstart/GreetingResourceTest.java
  incubator/quarkus/templates/default/src/test/java/org/acme/quickstart/NativeGreetingResourceIT.java
Labels: stack/quarkus

#749 java-openliberty: update OpenLiberty stack to use OpenLibertyApplication
  incubator/java-openliberty/README.md
  incubator/java-openliberty/image/config/app-deploy.yaml
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty

#728 704 document quick start removal
  incubator/java-microprofile/README.md
  incubator/java-microprofile/image/project/Dockerfile
  incubator/java-microprofile/stack.yaml
Labels: stack/java-openliberty

#759 java-openliberty: Notify of the removal of quick-start-security.xml
  incubator/java-openliberty/image/project/Dockerfile
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty

#764 java-microprofile: deprecate stack
  incubator/java-microprofile/README.md
  incubator/java-microprofile/image/project/.appsody-init.bat
  incubator/java-microprofile/stack.yaml
Labels: stack/java-microprofile

#763 node-red: use prom-client
  incubator/node-red/image/project/package-lock.json
  incubator/node-red/image/project/package.json
  incubator/node-red/image/project/server.js
  incubator/node-red/image/project/test/test.js
  incubator/node-red/stack.yaml
Labels: stack/node-red

#761 nodejs-express: use prom-client
  incubator/nodejs-express/README.md
  incubator/nodejs-express/image/project/package-lock.json
  incubator/nodejs-express/image/project/package.json
  incubator/nodejs-express/image/project/server.js
  incubator/nodejs-express/image/project/test/test.js
  incubator/nodejs-express/stack.yaml
  incubator/nodejs-express/templates/scaffold/package.json
  incubator/nodejs-express/templates/simple/package.json
Labels: stack/nodejs-express

#698 nodejs-express: new template
  incubator/nodejs-express/image/project/Dockerfile
  incubator/nodejs-express/image/project/package-lock.json
  incubator/nodejs-express/image/project/package.json
  incubator/nodejs-express/image/project/server.js
  incubator/nodejs-express/stack.yaml
  incubator/nodejs-express/templates/kafka/.gitignore
  incubator/nodejs-express/templates/kafka/.vscode/launch.json
  incubator/nodejs-express/templates/kafka/.vscode/tasks.json
  incubator/nodejs-express/templates/kafka/README.md
  incubator/nodejs-express/templates/kafka/app.js
  incubator/nodejs-express/templates/kafka/docker-compose.yaml
  incubator/nodejs-express/templates/kafka/package-lock.json
  incubator/nodejs-express/templates/kafka/package.json
  incubator/nodejs-express/templates/kafka/test/test.js
Labels: stack/nodejs-express

#787 swift: remove email from maintainers label
  incubator/swift/image/Dockerfile-stack
  incubator/swift/stack.yaml
Labels: stack/swift
