Repository appsody/stacks, pull requests merged in 2020-02, with the labels that each got.

#626 java-openliberty: Cache maven dependencies for `appsody build`
  incubator/java-openliberty/image/project/Dockerfile
  incubator/java-openliberty/image/project/preload-m2-pom.xml
  incubator/java-openliberty/image/project/validate.sh
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty

#630 Add package step to maven commands associated with appsody stack variables
  incubator/java-openliberty/image/Dockerfile-stack
  incubator/java-openliberty/image/project/pom.xml
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty

#634 dockerfile updates to support a pre-existing war/ear file project
  incubator/java-openliberty/image/project/Dockerfile
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty

#635 java-openliberty: update LMP version to 3.2
  incubator/java-openliberty/image/Dockerfile-stack
  incubator/java-openliberty/image/project/pom.xml
  incubator/java-openliberty/image/project/validate.sh
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty

#642 nodejs-loopback: Bump stack version to put src and image in index
  incubator/nodejs-loopback/image/project/package.json
  incubator/nodejs-loopback/stack.yaml
Labels: stack/nodejs-loopback

#654 java-microprofile: upgrade OL version
  incubator/java-microprofile/image/project/Dockerfile
  incubator/java-microprofile/image/project/pom.xml
  incubator/java-microprofile/stack.yaml
Labels: stack/java-microprofile

#660 python-flask: Bump stack version to put src and image in index
  incubator/python-flask/image/Dockerfile-stack
  incubator/python-flask/stack.yaml
Labels: stack/python-flask

#664 java-microprofile: remove quickstart security password
  incubator/java-microprofile/README.md
  incubator/java-microprofile/image/project/Dockerfile
  incubator/java-microprofile/image/project/pom.xml
  incubator/java-microprofile/stack.yaml
  incubator/java-microprofile/templates/default/src/main/liberty/config/configDropins/defaults/quick-start-security.xml
  incubator/java-microprofile/templates/default/src/main/liberty/config/server.xml
Labels: stack/java-microprofile

#650 Changes for 0.2.0
  incubator/java-openliberty/README.md
  incubator/java-openliberty/image/Dockerfile-stack
  incubator/java-openliberty/image/project/.appsody-init.sh
  incubator/java-openliberty/image/project/Dockerfile
  incubator/java-openliberty/image/project/baseline.sh
  incubator/java-openliberty/image/project/pom.xml
  incubator/java-openliberty/image/project/preload-m2-pom.xml
  incubator/java-openliberty/image/project/run-stack.sh
  incubator/java-openliberty/image/project/validate.sh
  incubator/java-openliberty/stack.yaml
  incubator/java-openliberty/templates/default/pom.xml
  incubator/java-openliberty/templates/default/src/main/liberty/config/configDropins/defaults/quick-start-security.xml
  incubator/java-openliberty/templates/default/src/main/liberty/config/server.xml
Labels: stack/java-openliberty

#670 Change maven base image for spring boot stack
  incubator/java-spring-boot2/stack.yaml
Labels: stack/java-spring-boot2

#686 Perform mvn install as java_user
  incubator/java-openliberty/image/Dockerfile-stack
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty
