Repository appsody/stacks, pull requests merged in 2020-01, with the labels that each got.

#576 nodejs: update stack maintainers
  incubator/nodejs/image/project/package.json
  incubator/nodejs/stack.yaml
Labels: stack/nodejs

#577 nodejs-express: update stack maintainers
  incubator/nodejs-express/image/project/package.json
  incubator/nodejs-express/stack.yaml
Labels: stack/nodejs-express

#519 nodejs-express: support apps using socket.io and pino
  incubator/nodejs-express/README.md
  incubator/nodejs-express/image/LICENSE
  incubator/nodejs-express/image/project/Dockerfile
  incubator/nodejs-express/image/project/package-lock.json
  incubator/nodejs-express/image/project/package.json
  incubator/nodejs-express/image/project/server.js
  incubator/nodejs-express/image/project/test/test.js
  incubator/nodejs-express/stack.yaml
  incubator/nodejs-express/templates/scaffold/app.js
  incubator/nodejs-express/templates/scaffold/routes/index.js
  incubator/nodejs-express/templates/scaffold/test/test.js
  incubator/nodejs-express/templates/scaffold/views/index.pug
  incubator/nodejs-express/templates/simple/app.js
  incubator/nodejs-express/templates/simple/test/test.js
Labels: stack/nodejs-express

#579 [python-flask] Run application as non-root
  incubator/python-flask/README.md
  incubator/python-flask/image/Dockerfile-stack
  incubator/python-flask/image/project/Dockerfile
  incubator/python-flask/stack.yaml
Labels: stack/python-flask

#559 java-spring-boot2: publish app as layers
  .travis.yml
  ci/ci_wait.sh
  ci/env.sh
  ci/ext/pre_env.d/10_travis
  ci/ext/pre_list.d/10_travis
  ci/package.sh
  incubator/java-spring-boot2/image/Dockerfile-stack
  incubator/java-spring-boot2/image/project/Dockerfile
  incubator/java-spring-boot2/image/project/appsody-boot2-pom.xml
  incubator/java-spring-boot2/image/project/java-spring-boot2-build.sh
  incubator/java-spring-boot2/image/project/util/check_version
  incubator/java-spring-boot2/stack.yaml
  incubator/java-spring-boot2/templates/default/src/main/resources/application.properties
  incubator/java-spring-boot2/templates/kotlin/src/main/resources/application.properties
Labels: stack/java-spring-boot2

#591 java-openliberty: Use go templating to parameterize Open Liberty version
  incubator/java-openliberty/image/project/pom.xml
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty

#498 nodejs: update stack to set minimum requirements for Docker and CLI
  incubator/nodejs/image/Dockerfile-stack
  incubator/nodejs/image/project/package.json
  incubator/nodejs/stack.yaml
Labels: stack/nodejs

#496 nodejs-express: update stack to set minimum requirements for Docker and CLI
  incubator/nodejs-express/image/project/package.json
  incubator/nodejs-express/stack.yaml
Labels: stack/nodejs-express

#570 nodejs-loopback: update to node 12
  incubator/nodejs-loopback/image/Dockerfile-stack
  incubator/nodejs-loopback/image/project/Dockerfile
  incubator/nodejs-loopback/image/project/package.json
  incubator/nodejs-loopback/stack.yaml
Labels: stack/nodejs-loopback

#587 java-openliberty: App startup improvements
  incubator/java-openliberty/image/Dockerfile-stack
  incubator/java-openliberty/image/project/Dockerfile
  incubator/java-openliberty/image/project/pom.xml
  incubator/java-openliberty/stack.yaml
  incubator/java-openliberty/templates/default/pom.xml
Labels: stack/java-openliberty

#497 nodejs-loopback: update stack to set minimum requirements for Docker and the CLI
  incubator/nodejs-loopback/image/project/package.json
  incubator/nodejs-loopback/stack.yaml
Labels: stack/nodejs-loopback

#599 Fix appsody init on Windows for quarkus stack.
  experimental/quarkus/image/project/.appsody-init.bat
  experimental/quarkus/stack.yaml
Labels: stack/quarkus

#494 quarkus: update stack to set minimum requirements for Docker and utilise templating
  experimental/quarkus/image/project/pom.xml
  experimental/quarkus/stack.yaml
  experimental/quarkus/templates/default/pom.xml
Labels: stack/quarkus

#598 docs: update readme and remove requirements
  README.md
  TECHNICAL_REQUIREMENTS.md
Labels: documentation
