Repository appsody/stacks, pull requests merged in 2020-03, with the labels that each got.

#679 nodejs - Optimize copy for buildah
  incubator/nodejs/image/project/Dockerfile
  incubator/nodejs/image/project/package.json
  incubator/nodejs/stack.yaml
Labels: stack/nodejs

#680 Nodejs express - optimize copy for buildah
  incubator/nodejs-express/image/project/Dockerfile
  incubator/nodejs-express/image/project/package.json
  incubator/nodejs-express/stack.yaml
Labels: stack/nodejs-express

#703 bump spring boot stack spring version to 2.1.12
  incubator/java-spring-boot2/image/project/appsody-boot2-pom.xml
  incubator/java-spring-boot2/image/project/appsody-boot2-snowdrop-pom.xml
  incubator/java-spring-boot2/stack.yaml
Labels: stack/java-spring-boot2

#706 java-openliberty:keystore.xml perms not set correctly
  incubator/java-openliberty/image/project/Dockerfile
  incubator/java-openliberty/stack.yaml
Labels: stack/java-openliberty

#710 nodejs: Stack use only package versions defined in base image
  incubator/nodejs/image/Dockerfile-stack
  incubator/nodejs/image/project/Dockerfile
  incubator/nodejs/image/project/package.json
  incubator/nodejs/stack.yaml
Labels: stack/nodejs

#709 nodejs-express: Stack to only use base image packages
  incubator/nodejs-express/image/Dockerfile-stack
  incubator/nodejs-express/image/project/Dockerfile
  incubator/nodejs-express/image/project/package.json
  incubator/nodejs-express/stack.yaml
Labels: stack/nodejs-express

#718 kitura: Update to not upgrade packages in base image
  incubator/kitura/image/project/Dockerfile
  incubator/kitura/stack.yaml
Labels: stack/kitura

#716 nodejs-loopback: Update to not upgrade base image && perf changes
  incubator/nodejs-loopback/image/project/Dockerfile
  incubator/nodejs-loopback/image/project/package-lock.json
  incubator/nodejs-loopback/image/project/package.json
  incubator/nodejs-loopback/stack.yaml
Labels: stack/nodejs-loopback

#715 node-red: Updates to not update base stack packages and some perf changes
  incubator/node-red/image/Dockerfile-stack
  incubator/node-red/image/project/Dockerfile
  incubator/node-red/image/project/package.json
  incubator/node-red/stack.yaml
Labels: stack/node-red

#726 nodejs-express: require appmetrics prometheus earlier in server.js
  incubator/nodejs-express/image/project/package.json
  incubator/nodejs-express/image/project/server.js
  incubator/nodejs-express/stack.yaml
Labels: stack/nodejs-express
